@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
* h1, * h2 {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0;
}
* h3 {
  display: block;
  font-weight: bold;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}
* p {
  margin: 0;
}
* a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(255, 255, 255);
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo img:hover {
  animation: rubberBand;
  animation-duration: 0.7s;
  mix-blend-mode: difference;
}

.animation-header, header .offcanvas-body .nav-link .bottom-animation, header .offcanvas-body .nav-link .top-animation {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(245, 222, 179);
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.container-destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
.container-destacados .destacado {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  max-width: 450px;
  margin: 20px;
  padding: 20px;
}

.container-opiniones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
.container-opiniones .opinion {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.container-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
.container-productos .producto {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  max-width: 450px;
  margin: 20px;
  padding: 20px;
}
.container-productos .producto img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.container-productos .producto h2 {
  padding-top: 10px;
}
.container-productos .producto p {
  margin-bottom: 10px;
  text-align: justify;
}
.container-productos .producto .precio {
  border-top: 2px solid #ddd;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 69, 0);
}

.container-diseños {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
.container-diseños .diseño {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  max-width: 350px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.container-diseños .diseño img {
  max-width: 100%;
  margin-bottom: 10px;
}

.boton-catalogo {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 30px;
  color: rgb(76, 175, 80);
  border: 2px solid rgb(76, 175, 80);
}
.boton-catalogo:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}

.boton-sobre-hidden-dimension {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 50px;
  color: rgb(52, 152, 219);
  border: 2px solid rgb(52, 152, 219);
}
.boton-sobre-hidden-dimension:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 152, 219);
}

.boton-newsletter {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  margin-top: 20px;
  background-color: rgb(76, 175, 80);
  cursor: pointer;
}
.boton-newsletter:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  background-color: rgb(48, 113, 52);
}

.boton-carrito {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(76, 175, 80);
  border-radius: 10px;
  cursor: pointer;
}
.boton-carrito:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  background-color: rgb(48, 113, 52);
}

.boton-newsletter-ayuda {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 1px 15px;
  color: rgb(52, 152, 219);
  border: 1px solid rgb(52, 152, 219);
  border-radius: 10px;
}
.boton-newsletter-ayuda:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 152, 219);
}

.boton-contacto {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 30px;
  color: rgb(76, 175, 80);
  border: 2px solid rgb(76, 175, 80);
  margin-top: 20px;
}
.boton-contacto:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}

.boton-enviar input {
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 50px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(76, 175, 80);
}
.boton-enviar input:hover {
  animation: pulse;
  animation-duration: 0.7s;
  mix-blend-mode: unset;
  background-color: rgb(48, 113, 52);
}

header {
  background-color: rgb(51, 51, 51);
  padding: 20px 40px;
}
header .navbar-toggler {
  background-color: rgb(61, 61, 61);
  border: 1px solid rgb(245, 245, 245);
}
header .offcanvas-title {
  color: rgb(255, 255, 255);
}
header .offcanvas-body {
  flex-direction: row-reverse;
}
header .offcanvas-body .nav-link {
  color: rgb(255, 255, 255) !important;
  position: relative;
  margin-right: 10px;
}
header .offcanvas-body .nav-link .top-animation {
  top: 0;
  left: 0;
  transform-origin: left;
}
header .offcanvas-body .nav-link .bottom-animation {
  bottom: 0;
  right: 0;
  transform-origin: right;
}
header .offcanvas-body .nav-link:hover .top-animation, header .offcanvas-body .nav-link:hover .bottom-animation {
  transform: scaleX(1);
}
header .offcanvas-body .activo {
  font-weight: bolder;
  font-size: 17px;
  color: wheat !important;
}
header .offcanvas-body .dropdown-menu {
  background-color: rgb(51, 51, 51);
}
header .offcanvas-body .dropdown-menu .dropdown-item:hover {
  background-color: rgb(51, 51, 51);
}
header .offcanvas-body .dropdown-menu .redes {
  color: rgb(255, 255, 255);
  padding: 9px;
}
header .offcanvas-body .dropdown-menu .redes img {
  width: 30px;
  height: 30px;
  mix-blend-mode: color-dodge;
}
header .offcanvas-body .dropdown-menu .redes img:hover {
  animation: rubberBand;
  animation-duration: 0.7s;
  mix-blend-mode: difference;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
footer .footer-container .contact-info ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-container .contact-info ul li {
  padding: 20px;
  display: inline;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
footer .footer-container .contact-info ul li a {
  color: rgb(255, 255, 255);
}
footer .footer-container .contact-info ul li a img {
  width: 60px;
  height: 60px;
  mix-blend-mode: color-dodge;
}
footer .footer-container .contact-info ul li a img:hover {
  animation: rubberBand;
  animation-duration: 0.7s;
  mix-blend-mode: difference;
}
footer .footer-container .encuesta a {
  text-decoration: underline;
  color: rgb(0, 250, 250);
}
footer .footer-container .encuesta a p:hover {
  animation: heartBeat;
  animation-duration: 0.7s;
  mix-blend-mode: difference;
}
footer .copyright {
  margin-top: 30px;
  font-size: 14px;
}

.index {
  text-align: center;
  padding: 40px 0px;
}
.index .inicio {
  padding-bottom: 40px;
}
.index .inicio h1 {
  padding-bottom: 20px;
}
.index .inicio p {
  padding-bottom: 20px;
}
.index .destacados {
  background-color: rgb(245, 245, 245);
  padding: 40px 0px;
}
.index .sobre-nosotros {
  padding: 40px 0px;
}
.index .sobre-nosotros .container-contenido-sobre-nosotros {
  padding: 10px 0px;
}
.index .sobre-nosotros .container-contenido-sobre-nosotros p {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1000px;
}
.index .opinion-clientes {
  background-color: rgb(245, 245, 245);
  padding: 40px 0px;
}
.index .opinion-clientes h2 {
  padding-bottom: 20px;
}
.index .newsletter {
  padding-top: 40px;
}
.index .newsletter h2 {
  padding-bottom: 20px;
}
.index .newsletter p {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1000px;
}
.index .newsletter .newsletter-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.catalogo {
  padding: 40px 0px;
  text-align: center;
}
.catalogo h2 {
  padding-bottom: 10px;
}

.sobre-hidden-dimension {
  padding: 40px 0px;
  text-align: center;
}
.sobre-hidden-dimension h1 {
  padding-bottom: 20px;
}
.sobre-hidden-dimension .nuestra-historia p {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  max-width: 900px;
  padding-bottom: 15px;
}
.sobre-hidden-dimension .nuestro-equipo h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.sobre-hidden-dimension .nuestro-equipo .container-equipo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
.sobre-hidden-dimension .nuestro-equipo .container-equipo div {
  margin: 20px;
}
.sobre-hidden-dimension .nuestro-equipo .container-equipo img {
  width: 270px;
  height: 270px;
  border-radius: 10px;
}
.sobre-hidden-dimension .nuestro-equipo .container-equipo h3, .sobre-hidden-dimension .nuestro-equipo .container-equipo p {
  max-width: 270px;
}

.ayuda {
  max-width: 800px;
  padding: 40px;
  margin: auto;
  text-align: center;
}
.ayuda h1 {
  padding-bottom: 20px;
}
.ayuda h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}
.ayuda .accordion-header {
  margin: 0;
}
.ayuda .accordion-header .accordion-button {
  background-color: rgb(245, 245, 245) !important;
  box-shadow: none;
  font-weight: 600;
}

.ayudanos-a-mejorar {
  max-width: 800px;
  padding: 40px;
  margin: auto;
}
.ayudanos-a-mejorar .cuestionario {
  margin-bottom: 40px;
  text-align: center;
}
.ayudanos-a-mejorar .cuestionario h1 {
  margin-bottom: 40px;
}
.ayudanos-a-mejorar .cuestionario .pregunta {
  margin-bottom: 55px;
}
.ayudanos-a-mejorar .cuestionario .pregunta label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.ayudanos-a-mejorar .cuestionario .pregunta .escala-calificacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
}
.ayudanos-a-mejorar .cuestionario .pregunta .escala-calificacion p {
  font-size: 14px;
  margin-bottom: 10px;
}
.ayudanos-a-mejorar .cuestionario .pregunta .opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: nowrap;
}
.ayudanos-a-mejorar .cuestionario .pregunta .opciones input {
  width: 20px;
  height: 20px;
}
.ayudanos-a-mejorar .comentarios textarea {
  width: 100%;
  margin-top: 10px;
}
.ayudanos-a-mejorar .terminos {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
