// Maps Colores
$colors: (
    azul: rgb(52, 152, 219),
    aguamarina: rgb(0,250,250),
    blanco: rgb(255,255,255),
    blanco_zinc: rgb(245, 245,245),
    gris_claro: rgb(221,221,221),
    gris_oscuro: rgb(51,51,51),
    gris_cuarzo: rgb(61, 61,61),
    negro: rgb(0,0,0),
    negro-transperente: rgba(0, 0, 0, 0.1),
    rojo_anaranjado: rgb(255, 69, 0),
    trigo: rgb(245,222,179),
    verde: rgb(76, 175, 80),
    verde_oscuro: rgb(48,113,52),
);